[Desktop Entry]
Name=Presenter
Comment=A presentation tool
TryExec=presenter
Exec=presenter %f
Icon=x-office-presentation
Type=Application
Categories=Office;GTK;
StartupNotify=true
MimeType=application/x-presenter
